<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_curtain.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,165},{447,668}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{447,668}}</string>
				<key>sourceSize</key>
				<string>{447,668}</string>
			</dict>

			<key>bg_door.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,165},{480,664}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,664}}</string>
				<key>sourceSize</key>
				<string>{480,664}</string>
			</dict>

			<key>bg_lampshade.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,209},{188,637}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,637}}</string>
				<key>sourceSize</key>
				<string>{188,637}</string>
			</dict>

			<key>bg_painting0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{484,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{484,163}}</string>
				<key>sourceSize</key>
				<string>{484,163}</string>
			</dict>

			<key>bg_painting1.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,0},{253,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,207}}</string>
				<key>sourceSize</key>
				<string>{253,207}</string>
			</dict>

			<key>bg_painting2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,835},{269,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{269,186}}</string>
				<key>sourceSize</key>
				<string>{269,186}</string>
			</dict>

			<key>bg_plug.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,848},{75,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,111}}</string>
				<key>sourceSize</key>
				<string>{75,111}</string>
			</dict>

			<key>bg_pot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,209},{184,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,284}}</string>
				<key>sourceSize</key>
				<string>{184,284}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>bg.png</string>
			</dict>
		</dict>
</plist>