<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,473},{49,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,73}}</string>
				<key>sourceSize</key>
				<string>{49,73}</string>
			</dict>

			<key>btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,300},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btnEasy_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,150},{159,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,73}}</string>
				<key>sourceSize</key>
				<string>{159,73}</string>
			</dict>

			<key>ui_btnEasy_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,225},{159,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,73}}</string>
				<key>sourceSize</key>
				<string>{159,73}</string>
			</dict>

			<key>ui_btnHard_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,0},{163,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,73}}</string>
				<key>sourceSize</key>
				<string>{163,73}</string>
			</dict>

			<key>ui_btnHard_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,75},{163,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,73}}</string>
				<key>sourceSize</key>
				<string>{163,73}</string>
			</dict>

			<key>ui_btnHowto_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,909},{437,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{437,74}}</string>
				<key>sourceSize</key>
				<string>{437,74}</string>
			</dict>

			<key>ui_btnHowto_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,833},{437,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{437,74}}</string>
				<key>sourceSize</key>
				<string>{437,74}</string>
			</dict>

			<key>ui_btnJerry_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,588},{529,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{529,243}}</string>
				<key>sourceSize</key>
				<string>{529,243}</string>
			</dict>

			<key>ui_btnMediumU.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,740},{227,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,73}}</string>
				<key>sourceSize</key>
				<string>{227,73}</string>
			</dict>

			<key>ui_btnMedium_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,398},{227,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,73}}</string>
				<key>sourceSize</key>
				<string>{227,73}</string>
			</dict>

			<key>ui_btnPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,740},{187,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,74}}</string>
				<key>sourceSize</key>
				<string>{187,74}</string>
			</dict>

			<key>ui_btnPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,473},{187,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,74}}</string>
				<key>sourceSize</key>
				<string>{187,74}</string>
			</dict>

			<key>ui_btnPlayagain_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,588},{370,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,74}}</string>
				<key>sourceSize</key>
				<string>{370,74}</string>
			</dict>

			<key>ui_btnPlayagain_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,664},{370,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,74}}</string>
				<key>sourceSize</key>
				<string>{370,74}</string>
			</dict>

			<key>ui_btnTom_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{783,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{783,396}}</string>
				<key>sourceSize</key>
				<string>{783,396}</string>
			</dict>

			<key>ui_diffBase.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,398},{623,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{623,188}}</string>
				<key>sourceSize</key>
				<string>{623,188}</string>
			</dict>

			<key>ui_energyBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,985},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>

			<key>ui_energyBarfill.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,549},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,901},{379,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{379,67}}</string>
				<key>sourceSize</key>
				<string>{379,67}</string>
			</dict>

			<key>ui_selectChar.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,833},{420,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{420,66}}</string>
				<key>sourceSize</key>
				<string>{420,66}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>