<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_jmProp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,0},{146,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,185}}</string>
				<key>sourceSize</key>
				<string>{146,185}</string>
			</dict>

			<key>gobj_jmProp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,202},{166,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,200}}</string>
				<key>sourceSize</key>
				<string>{166,200}</string>
			</dict>

			<key>gobj_jmProp_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,948},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>gobj_jmProp_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,948},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>gobj_jmProp_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,680},{66,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,61}}</string>
				<key>sourceSize</key>
				<string>{66,61}</string>
			</dict>

			<key>gobj_jmProp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,0},{166,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,200}}</string>
				<key>sourceSize</key>
				<string>{166,200}</string>
			</dict>

			<key>gobj_jmProp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,404},{166,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,200}}</string>
				<key>sourceSize</key>
				<string>{166,200}</string>
			</dict>

			<key>gobj_jmProp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,683},{84,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,75}}</string>
				<key>sourceSize</key>
				<string>{84,75}</string>
			</dict>

			<key>gobj_jmProp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,936},{84,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,75}}</string>
				<key>sourceSize</key>
				<string>{84,75}</string>
			</dict>

			<key>gobj_jmProp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,936},{84,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,75}}</string>
				<key>sourceSize</key>
				<string>{84,75}</string>
			</dict>

			<key>gobj_jmProp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,606},{84,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,75}}</string>
				<key>sourceSize</key>
				<string>{84,75}</string>
			</dict>

			<key>gobj_jmProp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,948},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>gobj_jmProp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,606},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>

			<key>gobj_jmShadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{317,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{317,52}}</string>
				<key>sourceSize</key>
				<string>{317,52}</string>
			</dict>

			<key>gobj_tmPlate_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,293},{241,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,237}}</string>
				<key>sourceSize</key>
				<string>{241,237}</string>
			</dict>

			<key>gobj_tmPlate_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,532},{241,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,237}}</string>
				<key>sourceSize</key>
				<string>{241,237}</string>
			</dict>

			<key>gobj_tmPlate_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,771},{241,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,237}}</string>
				<key>sourceSize</key>
				<string>{241,237}</string>
			</dict>

			<key>gobj_tmPlate_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,532},{241,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,237}}</string>
				<key>sourceSize</key>
				<string>{241,237}</string>
			</dict>

			<key>gobj_tmPlate_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,54},{241,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,237}}</string>
				<key>sourceSize</key>
				<string>{241,237}</string>
			</dict>

			<key>gobj_tmPlate_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,293},{241,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,237}}</string>
				<key>sourceSize</key>
				<string>{241,237}</string>
			</dict>

			<key>gobj_tmPlate_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,54},{241,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,237}}</string>
				<key>sourceSize</key>
				<string>{241,237}</string>
			</dict>

			<key>gobj_tmPlateinPlace.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,771},{232,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,175}}</string>
				<key>sourceSize</key>
				<string>{232,175}</string>
			</dict>

			<key>tm_tomHandL.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,771},{190,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,163}}</string>
				<key>sourceSize</key>
				<string>{190,163}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>