<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tm_tomLose_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,774},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,387},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,774},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,387},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,0},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1548},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1161},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,774},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,387},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,1548},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,0},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1548},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,1161},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,774},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,387},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,0},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1422,1161},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

			<key>tm_tomLose_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,1161},{472,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,385}}</string>
				<key>sourceSize</key>
				<string>{472,385}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim.png</string>
			</dict>
		</dict>
</plist>