<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>all_jerryRun_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,1340},{109,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,99}}</string>
				<key>sourceSize</key>
				<string>{109,99}</string>
			</dict>

			<key>all_jerryRun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,1138},{109,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,99}}</string>
				<key>sourceSize</key>
				<string>{109,99}</string>
			</dict>

			<key>all_jerryRun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,1239},{109,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,99}}</string>
				<key>sourceSize</key>
				<string>{109,99}</string>
			</dict>

			<key>all_jerryRun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,1542},{109,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,99}}</string>
				<key>sourceSize</key>
				<string>{109,99}</string>
			</dict>

			<key>all_jerryRun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,1441},{109,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,99}}</string>
				<key>sourceSize</key>
				<string>{109,99}</string>
			</dict>

			<key>all_jerryRun_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,1037},{109,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,99}}</string>
				<key>sourceSize</key>
				<string>{109,99}</string>
			</dict>

			<key>jm_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,934},{75,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,85}}</string>
				<key>sourceSize</key>
				<string>{75,85}</string>
			</dict>

			<key>jm_jerryHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,530},{80,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,99}}</string>
				<key>sourceSize</key>
				<string>{80,99}</string>
			</dict>

			<key>jm_jerryHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,732},{80,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,99}}</string>
				<key>sourceSize</key>
				<string>{80,99}</string>
			</dict>

			<key>jm_jerryHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,833},{80,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,99}}</string>
				<key>sourceSize</key>
				<string>{80,99}</string>
			</dict>

			<key>jm_jerryHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,833},{80,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,99}}</string>
				<key>sourceSize</key>
				<string>{80,99}</string>
			</dict>

			<key>jm_jerryHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,732},{80,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,99}}</string>
				<key>sourceSize</key>
				<string>{80,99}</string>
			</dict>

			<key>jm_jerryHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,631},{80,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,99}}</string>
				<key>sourceSize</key>
				<string>{80,99}</string>
			</dict>

			<key>jm_jerryHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,530},{80,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,99}}</string>
				<key>sourceSize</key>
				<string>{80,99}</string>
			</dict>

			<key>jm_jerryHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,631},{80,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,99}}</string>
				<key>sourceSize</key>
				<string>{80,99}</string>
			</dict>

			<key>jm_jerryHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,934},{80,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,99}}</string>
				<key>sourceSize</key>
				<string>{80,99}</string>
			</dict>

			<key>jm_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2024},{148,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,21}}</string>
				<key>sourceSize</key>
				<string>{148,21}</string>
			</dict>

			<key>jm_tomCatch_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,795},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,265},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,0},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1590},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1325},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1060},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,795},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,530},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1060},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1325},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1590},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,0},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,265},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,530},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomCatch_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,265},{451,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{451,263}}</string>
				<key>sourceSize</key>
				<string>{451,263}</string>
			</dict>

			<key>jm_tomChase_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1877},{346,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,166}}</string>
				<key>sourceSize</key>
				<string>{346,166}</string>
			</dict>

			<key>jm_tomChase_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1541},{346,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,166}}</string>
				<key>sourceSize</key>
				<string>{346,166}</string>
			</dict>

			<key>jm_tomChase_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1373},{346,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,166}}</string>
				<key>sourceSize</key>
				<string>{346,166}</string>
			</dict>

			<key>jm_tomChase_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1205},{346,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,166}}</string>
				<key>sourceSize</key>
				<string>{346,166}</string>
			</dict>

			<key>jm_tomChase_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1037},{346,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,166}}</string>
				<key>sourceSize</key>
				<string>{346,166}</string>
			</dict>

			<key>jm_tomChase_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1709},{346,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{346,166}}</string>
				<key>sourceSize</key>
				<string>{346,166}</string>
			</dict>

			<key>jm_tomHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1855},{358,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,167}}</string>
				<key>sourceSize</key>
				<string>{358,167}</string>
			</dict>

			<key>jm_tomHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,530},{358,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,167}}</string>
				<key>sourceSize</key>
				<string>{358,167}</string>
			</dict>

			<key>jm_tomHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,1855},{358,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,167}}</string>
				<key>sourceSize</key>
				<string>{358,167}</string>
			</dict>

			<key>jm_tomHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,699},{358,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,167}}</string>
				<key>sourceSize</key>
				<string>{358,167}</string>
			</dict>

			<key>jm_tomHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,868},{358,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,167}}</string>
				<key>sourceSize</key>
				<string>{358,167}</string>
			</dict>

			<key>jm_tomHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,1855},{358,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,167}}</string>
				<key>sourceSize</key>
				<string>{358,167}</string>
			</dict>

			<key>tm_jerryShadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1709},{142,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,125}}</string>
				<key>sourceSize</key>
				<string>{142,125}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>jm.png</string>
			</dict>
		</dict>
</plist>