<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tm_tomBody_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,708},{321,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,287}}</string>
				<key>sourceSize</key>
				<string>{321,287}</string>
			</dict>

			<key>tm_tomHandR.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,708},{282,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,77}}</string>
				<key>sourceSize</key>
				<string>{282,77}</string>
			</dict>

			<key>tm_tomReturnPlate_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1395,0},{463,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{463,352}}</string>
				<key>sourceSize</key>
				<string>{463,352}</string>
			</dict>

			<key>tm_tomReturnPlate_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,354},{463,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{463,352}}</string>
				<key>sourceSize</key>
				<string>{463,352}</string>
			</dict>

			<key>tm_tomReturnPlate_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,0},{463,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{463,352}}</string>
				<key>sourceSize</key>
				<string>{463,352}</string>
			</dict>

			<key>tm_tomReturnPlate_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,354},{463,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{463,352}}</string>
				<key>sourceSize</key>
				<string>{463,352}</string>
			</dict>

			<key>tm_tomReturnPlate_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,0},{463,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{463,352}}</string>
				<key>sourceSize</key>
				<string>{463,352}</string>
			</dict>

			<key>tm_tomReturnPlate_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,354},{463,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{463,352}}</string>
				<key>sourceSize</key>
				<string>{463,352}</string>
			</dict>

			<key>tm_tomReturnPlate_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{463,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{463,352}}</string>
				<key>sourceSize</key>
				<string>{463,352}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>tm.png</string>
			</dict>
		</dict>
</plist>